{{> appbar_admin}}
<div style="font-family: Roboto">

  <h1>Productos en tiempo real</h1>

  <div class="containerReal">
    <div id="productsContainer"></div>
    <form class="formReal">
      <label class="labelReal" for="title">Título</label>
      <input class="inputReal" type="text" id="title" placeHolder="Título" />

      <label class="labelReal" for="description">Descripción</label>
      <input
        class="inputReal"
        type="text"
        id="description"
        placeHolder="Descripción"
      />
    
      <label class="labelReal" for="price">Precio</label>
      <input class="inputReal" type="number" id="price" placeHolder="Precio" />

      <label class="labelReal" for="img">Img</label>
      <input class="inputReal" type="text" id="img" placeHolder="Sin imagen" />

      <label class="labelReal" for="code">Código</label>
      <input class="inputReal" type="text" id="code" placeHolder="Código" />

      <label class="labelReal" for="stock">Stock</label>
      <input class="inputReal" type="number" id="stock" placeHolder="Stock" />

      <label class="labelReal" for="category">Categoria</label>
      <input class="inputReal" type="text" id="category" placeHolder="Categoria" />

      <label class="labelReal" for="status">Status</label>
      <select class="inputReal" id="status">
        <option value="true"> Activo </option>
        <option value="false"> Inactivo </option>
      </select>
      <button class="button" id="btnSend"> E N V I A R </button>
    </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"
></script>
<script src="js/realtime_products.js"></script>